* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

header {
  background-color: #14171F;
  background-size: cover;
  width: 100%;
  height: 1200px;
}
header nav {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 140px;
  padding-top: 24px;
}
header nav .list {
  display: flex;
  gap: 56px;
  /*
      breakpoints are viewport arbitrary values,
      they are defined with the aim of allowing the SCSS/CSS code of your app' behave accordingly to your user's device width,
      the breakpoints I used were inspired by Bootstrap =>
      https://getbootstrap.com/docs/5.0/layout/breakpoints/
  */
}
@media only screen and (max-width: 575.98px) {
  header nav .list {
    display: none;
  }
}
header nav .list .nav__item {
  color: aliceblue;
  cursor: pointer;
}
header nav .list .nav__item:hover {
  background-color: #7C5CFC;
  border-radius: 30px;
}
header nav .nav__buttons {
  gap: 20px;
  display: flex;
  /*
      breakpoints are viewport arbitrary values,
      they are defined with the aim of allowing the SCSS/CSS code of your app' behave accordingly to your user's device width,
      the breakpoints I used were inspired by Bootstrap =>
      https://getbootstrap.com/docs/5.0/layout/breakpoints/
  */
}
@media only screen and (max-width: 575.98px) {
  header nav .nav__buttons {
    display: none;
  }
}
header nav .nav__buttons button {
  background-color: #7C5CFC;
  border-radius: 30px;
  padding: 14px 24px;
  border: none;
  cursor: pointer;
  color: antiquewhite;
}
header nav .nav__buttons .login {
  border-radius: 30px;
  padding: 14px 24px;
  border: none;
  color: aliceblue;
  cursor: pointer;
}
header nav .nav__buttons .login:hover {
  background-color: #7C5CFC;
}
header .hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 120px;
  /*
      breakpoints are viewport arbitrary values,
      they are defined with the aim of allowing the SCSS/CSS code of your app' behave accordingly to your user's device width,
      the breakpoints I used were inspired by Bootstrap =>
      https://getbootstrap.com/docs/5.0/layout/breakpoints/
  */
}
@media only screen and (max-width: 575.98px) {
  header .hero {
    padding-top: 50px;
    padding-left: 0px;
  }
}
header .hero .hero__content {
  width: 748px;
  height: 216px;
  font-size: 80px;
  color: white;
  text-align: center;
  /*
      breakpoints are viewport arbitrary values,
      they are defined with the aim of allowing the SCSS/CSS code of your app' behave accordingly to your user's device width,
      the breakpoints I used were inspired by Bootstrap =>
      https://getbootstrap.com/docs/5.0/layout/breakpoints/
  */
}
@media only screen and (max-width: 575.98px) {
  header .hero .hero__content {
    font-size: 30px;
    width: 317px;
    text-align: start;
    height: 70px;
    text-align: start;
  }
}
header .hero .hero__little__content {
  color: #90A3BF;
  width: 400px;
  height: 72px;
  font-size: 18px;
  text-align: center;
  /*
      breakpoints are viewport arbitrary values,
      they are defined with the aim of allowing the SCSS/CSS code of your app' behave accordingly to your user's device width,
      the breakpoints I used were inspired by Bootstrap =>
      https://getbootstrap.com/docs/5.0/layout/breakpoints/
  */
}
@media only screen and (max-width: 575.98px) {
  header .hero .hero__little__content {
    width: 344px;
    text-align: start;
    padding-left: 10px;
  }
}
header .hero .hero__buttons {
  display: flex;
  gap: 10px;
  /*
      breakpoints are viewport arbitrary values,
      they are defined with the aim of allowing the SCSS/CSS code of your app' behave accordingly to your user's device width,
      the breakpoints I used were inspired by Bootstrap =>
      https://getbootstrap.com/docs/5.0/layout/breakpoints/
  */
}
@media only screen and (max-width: 575.98px) {
  header .hero .hero__buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1;
  }
}
header .hero .hero__buttons button {
  border-radius: 30px;
  padding: 14px 31px;
  border: none;
  background-color: #7C5CFC;
  cursor: pointer;
  color: aliceblue;
}
header .hero .hero__buttons .hero__button {
  border-radius: 30px;
  padding: 14px 31px;
  border: none;
  cursor: pointer;
  color: aliceblue;
  border: 1px solid white;
  /*
      breakpoints are viewport arbitrary values,
      they are defined with the aim of allowing the SCSS/CSS code of your app' behave accordingly to your user's device width,
      the breakpoints I used were inspired by Bootstrap =>
      https://getbootstrap.com/docs/5.0/layout/breakpoints/
  */
}
@media only screen and (max-width: 575.98px) {
  header .hero .hero__buttons .hero__button {
    padding: 14px 60px;
  }
}
header .hero .hero__buttons .hero__button:hover {
  background-color: #7C5CFC;
}
header .body {
  background-color: white;
  margin-top: 120px;
  height: 358px;
  width: 90%;
  justify-content: center;
  margin-left: 5%;
  margin-right: 5%;
  display: flex;
  justify-content: space-around;
  border-radius: 11px;
  /*
      breakpoints are viewport arbitrary values,
      they are defined with the aim of allowing the SCSS/CSS code of your app' behave accordingly to your user's device width,
      the breakpoints I used were inspired by Bootstrap =>
      https://getbootstrap.com/docs/5.0/layout/breakpoints/
  */
}
@media only screen and (max-width: 575.98px) {
  header .body {
    margin-left: auto;
  }
}
header .body .navbar {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 50px;
  width: 200px;
  margin-left: 30px;
  /*
      breakpoints are viewport arbitrary values,
      they are defined with the aim of allowing the SCSS/CSS code of your app' behave accordingly to your user's device width,
      the breakpoints I used were inspired by Bootstrap =>
      https://getbootstrap.com/docs/5.0/layout/breakpoints/
  */
}
@media only screen and (max-width: 575.98px) {
  header .body .navbar {
    margin-left: 5px;
  }
}
header .body .navbar .body__item-hover {
  background-color: #7C5CFC;
  display: flex;
  margin-bottom: 5px;
  cursor: pointer;
  padding: 10px 5px;
  border-radius: 11px;
}
header .body .navbar .body__item {
  display: flex;
  cursor: pointer;
  padding: 10px 5px;
  border-radius: 11px;
  margin-bottom: 5px;
}
header .body .navbar .body__item:hover {
  background-color: #7C5CFC;
}
header .body .searching {
  background: rgba(225, 225, 225, 0.2);
  border-radius: 50px;
  padding: 5px 10px;
  border: 1px solid black;
  display: flex;
  width: 410px;
  margin-top: 20px;
  /*
      breakpoints are viewport arbitrary values,
      they are defined with the aim of allowing the SCSS/CSS code of your app' behave accordingly to your user's device width,
      the breakpoints I used were inspired by Bootstrap =>
      https://getbootstrap.com/docs/5.0/layout/breakpoints/
  */
}
@media only screen and (max-width: 575.98px) {
  header .body .searching {
    width: 100px;
  }
}
header .body .searching input {
  border: 0;
  background: transparent;
  outline: 0;
}
header .body .imgs {
  display: flex;
  gap: 10px;
  margin-top: 20px;
}
header .body .imgs .g {
  /*
      breakpoints are viewport arbitrary values,
      they are defined with the aim of allowing the SCSS/CSS code of your app' behave accordingly to your user's device width,
      the breakpoints I used were inspired by Bootstrap =>
      https://getbootstrap.com/docs/5.0/layout/breakpoints/
  */
}
@media only screen and (max-width: 575.98px) {
  header .body .imgs .g {
    width: 6%;
  }
}
header .body .imgs .notification {
  border: 1px solid black;
  padding: 8px;
  height: 37px;
  border-radius: 20px;
  /*
      breakpoints are viewport arbitrary values,
      they are defined with the aim of allowing the SCSS/CSS code of your app' behave accordingly to your user's device width,
      the breakpoints I used were inspired by Bootstrap =>
      https://getbootstrap.com/docs/5.0/layout/breakpoints/
  */
}
@media only screen and (max-width: 575.98px) {
  header .body .imgs .notification {
    display: none;
  }
}
header .body .imgs .notification:hover {
  border: 1px solid #7C5CFC;
  background-color: #7C5CFC;
}/*# sourceMappingURL=main.css.map */